@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

.logo-img {
  height: 125px;
  width: 195px;
  padding-left: 1vw;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-right: 1vw;
  /* padding: 0 2vw; */
  /* height: 2vh; */
}

.nav-links {
  /* display: flex; */
  align-items: center;
  text-decoration: none;
  color: #d04a5b;
  font-family: Montserrat;
  font-weight: 600;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 1.5em;
  transition: all 0.2s ease-in-out;
  padding-right: 1vw;
}
.nav-links:hover {
  text-decoration: none;
  cursor: pointer;
  /* margin: 10px 15px 10px 0; */
  /* transition: all 0.2s ease-in-out; */
  transform: scale(1.1);
}
.nav-links-container {
  display: flex;
}
/* .nav-links:visited {
  text-decoration: none;
}
.nav-links:focus {
  text-decoration: none;
}
.nav-links:hover,
.nav-links:active {
  text-decoration: none;
} */

@media screen and (max-width: 775px) {
  .nav-links-container {
  }
}
