@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap");

.form-name1 {
  text-align: center;
  font-size: 3em;
}
.sign-up {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Montserrat;
  font-weight: 500;
  height: 100vh;
  margin-right: 10vw;
}

.img-container2 {
  /* position: relative; */
  background-image: url(https://imgur.com/2CShcc2.jpg);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 75% 100%;
  flex: 1;
  height: 100%;
  width: auto;
  z-index: 1;
}

/* form {
  display: flex;
  justify-content: center;
  width: 50% auto;
} */

.sign-in-input {
  background: #f3f5f0;
  border: 4px solid #263030;
  box-sizing: border-box;
  box-shadow: 4px 4px 4px rgba(38, 48, 48, 0.5);
  border-radius: 5px;
}

.form-label {
  font-family: Montserrat;
  /* font-style: normal; */
  /* font-weight: bold; */
  font-size: 1.5rem;
  /* line-height: 29px; */
  text-align: center;
  letter-spacing: 0.055em;
  color: #d04a5b;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

button,
button::after {
  width: 200px;
  height: 30px;
  font-size: 20px;
  font-family: Montserrat;
  font-weight: 500;
  background: linear-gradient(45deg, transparent 5%, #d04a5b 5%);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  /* line-height: 88px; */
  box-shadow: 6px 0px 0px #8bccd8;
  outline: transparent;
  position: relative;
}

button::after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);

  content: "TO THE MOON";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    45deg,
    transparent 3%,
    #8bccd8 3%,
    #8bccd8 5%,
    #d04a5b 5%
  );
  text-shadow: -3px -3px 0px #f8f005, 3px 3px 0px #00e6f6;
  clip-path: var(--slice-0);
}

button:hover::after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}
