.coin-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
  padding: 20px;
  border-radius: 8px;
  margin: 5px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  list-style-type: none;
  font-size: 18px;
  margin: 5px 15px 0 0;
  transition: ease-in-out 0.3s;
  text-decoration: none;
  color: #db995d;
  background-color: #263030;
}

.coin-list > span {
  flex: 1 0 0;
}
.coin-list > span:nth-child(2) {
  text-align: center;
}

.quantity {
  display: flex;
}

.edit-btn {
  padding: 0;
  margin: 0 0 0 5vw;
}
