@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap");

/* .currency-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 20px 20px 14px rgba(38, 48, 48, 0.5);
  padding: 20px 50px;
  border-radius: 8px;
  margin: 5px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  list-style-type: none;
  font-size: 1.75em;
  font-family: Montserrat;
  font-weight: 500;
  margin: 1.2vh 10vw;
  transition: ease-in-out 0.3s;
  text-decoration: none;
  color: #db995d;
  background-color: #263030;
} */

.currency-list > span {
  flex: 1 0 0;
}

.currency-list > span:nth-child(2) {
  text-align: center;
}

.currency-list:hover {
  cursor: pointer;
  margin: 1.5vh 9vw;
}

.currency-symbol {
  text-align: right;
}

.currency-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* border: 2px solid white; */
}

.currency-item-symbol {
  display: flex;
  justify-content: center;
}

#coin-supply {
  text-align: right;
  /* border: 2px solid white; */
  /* margin-top: -5vh; */
}

/* #coin-symbol {
  text-align: center;
} */

.coin-price {
  /* text-align: right; */
}

.coin-name {
  text-align: left;
  margin-left: -5vw;
}

.coin-logo1 {
  height: 50px;
  width: 50px;
}

@media screen and (max-width: 375px) {
  /* .logo {
    height: 40px;
    width: 15px;
  } */
  .coin-name {
    margin: 0;
  }
}
@media screen and (max-width: 1100px) {
  .logo {
    height: 40px;
    width: 40px;
  }
}
@media screen and (max-width: 875px) {
  .logo {
    height: 35px;
    width: 35px;
  }
}

@media screen and (max-width: 775px) {
  .logo {
    height: 25px;
    width: 25px;
  }
}
